h1
{
	text-align:center;

}

.pokedex
{
	height: 400px;
	width: 300px;
	border: 5px solid green;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

.pokemon
{
	display:inherit;
}